<div *ngFor="let item of exchange" class="card">
	<div class="card__head">
		<img class="card__image" src="{{item.market.logo}}"/>
		<div class="card__title">{{item.market.name}}</div>
		</div>
	<div class="card__body">
		<div class="card__label">
			<span>Price: </span>
			<span>{{fnPrice(item.converted_last.usd)}}</span>
		</div>
		<div class="card__label">
			<span>Volume: </span>
			<span>{{fnVolume(item.converted_volume.usd)}}</span>
		</div>
		<app-withdrawal-info name="{{item.market.name}}"></app-withdrawal-info>
	</div>
</div>